.ApplicationAboutWindow application-window-content {
    background-color : #fff;
    color : #000;
    text-align : center;
  }
  .ApplicationAboutWindow application-window-content > div > div {
    padding : 0.8333em;
  }
  
  .osjs-window-content > div > div > img {
   width: 100%; 
      height: auto;
  }
  
  
  .osjs-window-content h1 {
    margin : 0;
    padding : 0.4333em;
    font-size : 3.333em;
  }
  
  